#Title .computer{
    color: green;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#Title .paragraph {
    font-size: 20px;
    text-align: justify;
    color: black;
}

#lists .hello{
    color: black;   
    font-size: 22px;
 
}

.Border, .Border2, .Border3, .Border4 {

    border: 3px solid black;
    border-radius: 10%;
}

.getPixelated {
    font-size: 19px;
}